@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
body{
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    font-size:16px;
    background-color: hsl(225, 100%, 98%);
    background-image:url("pattern-background-desktop.svg");
    font-family: 'Red Hat Display', sans-serif;
}
.music_container{
    display:flex;
    flex-direction: column;
    background-color:white;
    width:25%;
    border-radius: 16px;
    margin:7em;
    
}
.music_container img{
    border-radius: 16px 16px 0 0;
    width:auto
}
.head{
    text-align:center;
    font-weight: 900;
    margin-top:1em;
    margin-bottom: 0;
}
.first{
    text-align:center;
    font-weight: 400;
    padding:1em;
    color:hsl(224, 23%, 55%);
    margin-bottom: 0;

}

.annual{
    display:flex;
    flex-direction: row;
    width:290px;
    background-color:hsl(225, 100%, 98%);
    padding:1em;
    margin:1em;
    border-radius:16px;
    justify-content:space-between;

}
.annual img{
    height:40px;
    width:40px;
    
}
.plans{
    display:flex;
    align-items:center;
    gap: 10px;
    
}

.left{
    display:flex;
    flex-direction:column;
    font-size: 14px;



}

.change{
    margin-top:1em;
    font-size:14px;
    font-weight:600;
}
.music_container button{
    background-color:hsl(245, 75%, 52%);
    color:white;
    border-radius:8px;
    border:none;
    text-align:center;
    width: 300px;
    height: 40px;
    margin:auto;
    box-shadow: 0px 20px 15px rgb(225, 225, 225);
}
.can{
    text-align:center;
    margin-top:2em;
    font-weight:700;
    color:hsl(224, 23%, 55%);
    font-size:13px;
    margin-bottom:40px;
    margin-top: 35px;

}

